{% extends 'projects/base.html' %}
{% block content %}

  <!-- Main Section -->
  <main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">New Messages(<span>2</span>)</h3>
      <ul class="messages">
        <li class="message message--unread">
          <a href="message.html">
            <span class="message__author">Dennis Ivanov</span>
            <span class="message__subject">Working Opportunity for Web Design Company</span>
            <span class="message__date">May 31, 2021, 04:37 PM</span>
          </a>
        </li>
        <li class="message message--unread">
          <a href="message.html">
            <span class="message__author">Md. Shahriar Parvez</span>
            <span class="message__subject">Up for a Freelancing Project?</span>
            <span class="message__date">May 30, 2021, 07:47 PM</span>
          </a>
        </li>
        <li class="message">
          <a href="message.html">
            <span class="message__author">Sulamita Ivanov</span>
            <span class="message__subject">Another Opportunity for Side Income</span>
            <span class="message__date">May 29, 2021, 09:45 AM</span>
          </a>
        </li>
      </ul>
    </div>
  </main>

{% endblock %}