{% extends 'projects/base.html' %}
{% block content %}
{% load static %}

  <!-- Main Section -->
  <main class="messagePage my-xl">
    <div class="content-box">
      <div class="message">
        <a class="backButton" href="{% url 'inbox' %}"><img src="{% static 'images/left.png' %}" alt="left"></a>
        <h2 class="message__subject">{{ message.subject }}</h2>
          <a href="#" class="message__author">{{ message.name }}</a>
          <p class="message__date">{{ message.created }}</p>
          <div class="message__body">
            {{ message.body|linebreaksbr }}
          </div>
      </div>
    </div>
  </main>

{% endblock %}