{% extends 'skills/base.html' %}
{% load static %}
{% block content %}

<h1>Портфолио разработчика</h1>

<div class="img">
    <img src="{% static 'skills/wc.jpg' %}" alt="">
</div>

<h2>Стек технологий:</h2>

<div class="block">
    {% for project in projects %}
    <div class="element">
        <div>
            <img src="{{ project.image.url }}" alt="">
        </div>
        <div class="text">
            <h2><a href="{{ project.url }}" target="_blank">{{ project.title }}</a></h2>
            <p>{{ project.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}