{% load static %}
<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
        <a href="{% url 'projects' %}" class="header__logo">
            <img src="{% static 'images/logo.svg' %}" alt="DevSearch Logo"/>
        </a>
        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu"/>
            <label for="responsive-menu" class="toggle-menu">
                <span>Menu</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu">
                <li class="header__menuItem"><a href="index.html">Developers</a></li>
                <li class="header__menuItem"><a href="{% url 'projects' %}">Projects</a></li>
                <li class="header__menuItem"><a href="inbox.html">Inbox</a></li>
                <li class="header__menuItem"><a href="account.html">My Account</a></li>
                <li class="header__menuItem"><a href="{% url 'create-project' %}">Add Projects</a></li>
                <li class="header__menuItem"><a href="login.html" class="btn btn--
sub">Login/Sign Up</a></li>
            </ul>
        </nav>
    </div>
</header>
