<!-- Карточки -->
<section>
    <div class="container">
        <h1 class="text-3">ПАКЕТЫ УСЛУГ</h1>
        <div class="row justify-content-center">
            <div class="card product_card" style="width: 18rem; background-color: #33CCFF;">
                <div class="card-body">
                    <h5 class="card-title">МИНИМУМ</h5>
                    <p class="card-text">Windows, office, драйвера, базовая настройка</p>
                    <h3>{{ pc_1.pc_value }} руб.</h3>
                </div>
            </div>
            <div class="card product_card" style="width: 18rem; background-color: #FF9900;">
                <div class="card-body">
                    <h5 class="card-title">СТАНДАРТ</h5>
                    <p class="card-text">Windows, office, антивирус, драйвера и др.</p>
                    <h3>{{ pc_2.pc_value }} руб.</h3>
                </div>
            </div>
            <div class="card product_card" style="width: 18rem; background-color: #66FF66;">
                <div class="card-body">
                    <h5 class="card-title">ДЛЯ ДОМА</h5>
                    <p class="card-text">Windows, до 20 программ, антивирус, все драйвера и др.</p>
                    <h3>{{ pc_3.pc_value }} руб.</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Таблица -->
<section>
    <div class="container">
        <h1 class="text-3">Цены на услуги</h1>
        <table class="table table_one">
            <thead class="alert-success">
            <tr>
                <th scope="col">Услуга</th>
                <th scope="col">Старая цена</th>
                <th scope="col">Новая цена</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in price_table %}
            <tr>
                <td>{{ obj.pt_title }}</td>
                <td>
                    <del>{{ obj.pt_old_price }}</del>
                </td>
                <td>{{ obj.pt_new_price }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>